.oxygen-font{
  font-family: 'Oxygen', sans-serif;
}
.openSans-font{
  font-family: 'Open Sans', sans-serif;
}
/*
.border-red{
    border-style: solid;
    border-color: red;
}

.border-blue{
    border-style: solid;
    border-color: blue;
}
*/
.slate-back{
  background-color:#778899
}

.title{
  padding: 250px;
  padding-bottom: 0;
}

.center{
  display: block;
  margin: 0 auto;
}


 /* 
body{
  margin:20px;
}
*/
.background-1{
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-color: rgba(0,0,0,.5);;
  background-blend-mode: overlay;
}

.background-2{
  background-image: url('../img/header_2.jpg');
  background-size: cover;
  background-color: rgba(0,0,0,.5);;
  background-blend-mode: overlay;
  background-attachment: absolute;
}


.highlighted {
    background-color: rgba(0,0,0,.5);
}